@model decimal?
<select>
    <option value="0">Selecione</option>
    @for (int i = 1; i <= 3; i++)
    {
        if (Model.HasValue && ((int)Model.Value) == i)
        {
            <option value="@i" selected="selected">@i</option>
            var NumeroParcelas = i;
        }
        else
        {
            <option value="@i">@i</option>
        }
    }
</select>
